body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 150px;
    margin-top: 2rem;
    background-color: white;
}

#img{
    height: 50px;
}